{% extends "Layout/main.twig" %}

{% block content %}
    {% form_theme form 'Form/form_div_layout.twig' %}
    
    <p class="description">{{ 'authentication.lost_password.success.text'|trans }}</p>
    
    <form action="{{ path('lost_password_reinitialize', { 'token': token }) }}" method="post">
        <div class="form-group form-group-password">
            {{ form_row(form.password) }}
        </div>

        {{ form_rest(form) }}
        
        <button class="btn btn-primary" type="submit">{{ 'authentication.lost_password.submit'|trans }}</button>
    </form>
{% endblock %}    