{% extends "Layout/main.twig" %}
       
{% block content %}
    <form action="{{ url('login_check') }}" method="post">
        {% if error %}
            <div class="error">{{ error|trans }}</div>
        {% endif %}
        <div class="form-group">
            <label>{{ 'form.signin.email'|trans }}</label>
            <input type="email" class="form-control" id="_username" name="_username" value="{{ last_username }}">
        </div>
        <div class="form-group">
            <label>{{ 'form.signin.password'|trans }}</label>
            <input type="password" class="form-control" id="_password" name="_password" value="">
        </div>
        <p class="lost"><a href="{{ path('lost_password') }}">{{ 'form.signin.lost_password'|trans }}</a></p>
        <button type="submit" class="btn btn-primary" id="loginForm-submit">{{ 'form.signin.submit'|trans }}</button>
    </form>
{% endblock %} 