{% extends "Layout/main.twig" %}
       
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'account.ident'|trans }}</div>
        <div class="panel-body">
            <dl class="form_row">
                <dt><label>{{ 'form.email'|trans }}</label></dt>
                <dd class="form-inline">
                    <input type="text" value="{{ email }}" readonly="true" disabled="false" class="form-control" />
                    <a href="{{ path('account_email') }}">{{ 'account.ident.email'|trans }}</a>
                </dd>
            </dl>

            <dl class="form_row">
                <dt><label>{{ 'form.password'|trans }}</label></dt>
                <dd class="form-inline">
                    <input type="text" value="******" readonly="true" disabled="false" class="form-control" />
                    <a href="{{ path('account_password') }}">{{ 'account.ident.password'|trans }}</a>
                </dd>
            </dl>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">{{ 'account.profile'|trans }}</div>
        <div class="panel-body">
            {% form_theme form 'Form/form_div_layout.twig' %}

            <form action="{{ path('account') }}" method="post">

                <div class="form-group form-group-email">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="form-group form-group-email">
                    {{ form_row(form.lastname) }}
                </div>

                {{ form_rest(form) }}

                <button type="submit" class="btn btn-primary">{{ 'form.submit'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %} 