{% extends "Layout/main.twig" %}
       
{% block content %}
    {% form_theme form 'Form/form_div_layout.twig' %}

    <form action="{{ path('signup') }}" method="post">

        <div class="form-group form-group-username">
            {{ form_row(form.username) }}
        </div>
        <div class="form-group form-group-email">
            {{ form_row(form.email) }}
        </div>
        <div class="form-group form-group-password">
            {{ form_row(form.password) }}
        </div>
        <div class="form-group form-group-rules">
            {{ form_errors(form.rules) }}
            {{ form_widget(form.rules) }}
            <label>{{ 'form.signup.rules'|trans|raw }}</label>
        </div>

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary">{{ 'form.signup.submit'|trans }}</button>
    </form>
{% endblock %} 