{% extends "Layout/main.twig" %}
       
{% block content %}
    {% form_theme form 'Form/form_div_layout.twig' %}

    <form action="{{ path('signup') }}" method="post">

        <div class="form-group form-group-email">
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
        </div>
        <div class="form-group form-group-email">
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group form-group-pass">
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
        </div>

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary" id="subscriptionForm-submit">{{ 'signup'|trans }}</button>
    </form>
{% endblock %} 